div(ng-controller="elementPartialCtrl")
  .row
    | نام کلاس
    input#ClassName(name="className" type="text" ng-model="elementModel.ClassName"  )
  .row
    | نام انگلیسی
    input#EnglishName(name="englishName" type="text" ng-model="elementModel.EnglishName"  )
  .row
    | نام فارسی 
    input#farsiName(name="farsiName" type="text" ng-model="elementModel.FarsiName")
  .row
    button(type="button" name="btnSaveElement  ng-click="saveElement(#{eType})") ثبت